av
beartype
black
clean-fid
click
dacite
einops
ffmpeg-python
git+https://github.com/cvg/LightGlue.git
huggingface_hub
hydra-core
jaxtyping
lpips
matplotlib
numpy
Pillow
ruff
timm
torch
torchdata
torchmetrics
torchvision
wandb
wandb[media]
